<%= link_to "Home", root_path %>
<%= link_to "Create Schedules", schedules_path %>
<p><%= @notice %></p>

<h3>My info([Last updated] App: <%= @current_user.updated_at %>, Facebook: <%= @current_user.updated_time %>)</h3>
<%= link_to @current_user.name, @current_user.link.html_safe, {:target => "_blank"} %>(<%= @current_user.gender %>, <%= @current_user.fb_id %>)

<h3>Not Friends[<%= @not_friends.count %>]</h3>
<ul>
  <% @not_friends.each_with_index do |friend, i| %>
    <% begin %>
      <% if @graph.get_object(friend.fb_id) == false %>
        <li><%= image_tag friend.thumbnail %> <%= "#{friend.name}" %>(deactivated) (<%= "#{friend.fb_id}" %>)</li>
      <% else %>
        <li><%= image_tag friend.thumbnail %> <%= "#{friend.name}" %> (<%= "#{friend.fb_id}" %>)</li>
      <% end %>
    <% rescue %>
        <li><%= image_tag friend.thumbnail %> <%= "#{friend.name}" %>(deleted) (<%= "#{friend.fb_id}" %>)</li>
    <% end %>
  <% end %>
</ul>

<h3>New Friends[<%= @new_friends.count %>]</h3>
<ul>
  <% @new_friends.each_with_index do |friend, i| %>
    <li><%= image_tag friend.thumbnail %> <%= link_to friend.name, "http://www.facebook.com/profile.php?id=#{friend.fb_id}", {:target => "_blank"} %><%= "(#{friend.fb_id})" %></li>
  <% end %>
</ul>

<h3>Friends List[<%= @current_user.friends.count %>]</h3>
<ul>
  <% @current_user.friends.each_with_index do |friend, i| %>
    <li><%= image_tag friend.thumbnail %> <%= link_to friend.name, "http://www.facebook.com/profile.php?id=#{friend.fb_id}", {:target => "_blank"} %><%= "(#{friend.fb_id})" %></li>
  <% end %>
</ul>
